* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

:root {
	--accent-font: 'Lora', 'Georgia', 'Times New Roman', Times, serif;
	--primary-1: #fff;
	--primary-2: #000;
	--accent-1: #72267c;
	--accent-2: #b8007c;
	--accent-3: #ef7cb6;
	--accent-4: #fca63d;
  /* --bs-navbar-color: var(--accent-1);
  --bs-navbar-hover-color: var(--accent-4); */
}

::selection {
	color: var(--primary-1);
	background: var(--accent-3);
}


/* Navbar */
.icon {
  height: 4rem;
}

.navbar {
  background-color: var(--accent-1);
}

.nav-link,
.fa-bars {
  color: var(--primary-1);
}

.nav-link:hover,
.fa-bars:hover,
.fa-brands:hover {
  color: var(--accent-4);
}


/* Jumbotron */
.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/weaving.webp");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	aspect-ratio: 16 / 9;
}

h1 {
	font-family: var(--accent-font);
	font-size: 2.3rem;
  text-shadow: -2px -1px 2px rgba(0,0,0,0.4);
}


/* Text */
.heading_2 {
	color: var(--accent-2);
	font-family: var(--accent-font);
	font-size: 1.5rem;
}

.heading_3 {
	color: var(--accent-2);
	font-family: var(--accent-font);
	font-size: 1.25rem;
}

.link_1 {
	color: var(--accent-1);
}

.link_2 {
	text-decoration: none;
	color: var(--primary-1);
}

.link_2:hover {
	color: var(--accent-4)
}


/* Colors */
.light {
  color: var(--primary-1);
}


/* Components */
.video {
  aspect-ratio: 16 / 9;
  width: 75%;
}

.page_divider {
	border: 1px dotted var(--accent-4);
	text-align: center;
	/* margin: 20px 0; */
}


/* Footer */
.footer {
	background-color: var(--accent-1);
	padding: 1rem;
}

.fa-square-facebook {
	background: var(--accent-1);
	color: var(--primary-1);
}


/* Media queries */
@media only screen and (max-width: 725px) {
  .video {
    width: 95%;
  }
}