* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

:root {
	--accent-font: 'Lora', 'Georgia', 'Times New Roman', Times, serif;
	--primary-1: #fff;
	--primary-2: #000;
	--accent-1: #72267c;
	--accent-2: #b8007c;
	--accent-3: #ef7cb6;
	--accent-4: #fca63d;
}

::selection {
	color: var(--primary-1);
	background: var(--accent-3);
}


/* Navbar */
.navbar {
  background-color: var(--accent-1);
}

.nav-link,
.fa-bars {
  color: var(--primary-1);
}

.nav-link:hover,
.link_2:hover,
.fa-bars:hover,
.fa-brands:hover {
  color: var(--accent-4);
}

header {
	z-index: 9000;
}


/* Jumbotron */
.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/weaving.webp");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	aspect-ratio: 16 / 9;
}

.jumbotron h1 {
	color: var(--primary-1);
  text-shadow: -2px -1px 2px rgba(0,0,0,0.4);
}


/* Text */
h1 {
	font-family: var(--accent-font);
	font-size: 3.75rem;
}

.heading_1 {
	color: var(--accent-1);
}

.heading_2 {
	color: var(--accent-2);
	font-family: var(--accent-font);
	font-size: 1.5rem;
}

.heading_3 {
	color: var(--accent-2);
	font-family: var(--accent-font);
	font-size: 1.25rem;
}

.link_1 {
	color: var(--accent-1);
}

.link_2 {
	text-decoration: none;
	color: var(--primary-1);
}


/* Colors */
.light {
  color: var(--primary-1);
}

.accent_color_1 {
	color: var(--accent-1);
}

.accent_color_2 {
	color: var(--accent-2);
}

.accent_bg_2 {
	background-color: var(--accent-2);
}

.border_color_3 {
	border-color: var(--accent-3) !important;
}


/* Components */
.video {
	aspect-ratio: 16 / 9;
  width: 75%;
}

.page_divider {
	border-top: 2px dotted var(--accent-4);
}

.accordion-button:focus {
	box-shadow: 0 0 0 0.25rem var(--accent-3);
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b8007c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
	color: var(--accent-2);
	font-weight: bold;
	background-color: var(--primary-1);
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b8007c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(-180deg);
}


/* Forms */
.form-control:focus {
  border-color: var(--accent-3);
  box-shadow: inset 0 1px 1px rgba(239, 124, 182, 0.25), 0 0 5px rgba(239, 124, 182, 0.6);
}

form .btn {
	color: var(--accent-2);
	border: var(--bs-btn-border-width) solid var(--accent-2);
}

form .btn-outline-primary:focus,
form .btn-outline-primary:hover,
form .btn-outline-primary:active {
	background-color: var(--accent-2);
	border-color: var(--accent-2);
}


/* Footer */
.footer {
	background-color: var(--accent-1);
	padding: 1rem;
}

.fa-square-facebook {
	background: var(--accent-1);
	color: var(--primary-1);
}


/* Media queries */
@media only screen and (max-width: 768px) {
	.icon {
		height: 2rem;
	}

  .video {
    width: 95%;
  }

	h1 {
		font-size: 2.3rem;
	}
}

@media only screen and (min-width: 768px) {
	.icon {
		height: 4rem;
	}

	.nav-link {
		font-size: 1.25rem;
	}
}

@media only screen and (min-width: 992px) {
	.jumbotron {
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/weaving.webp");
		background-size: cover;
		/* Staci fixed this!!! :) */
		background-position: 100% 39.2%;
		background-repeat: no-repeat;
		aspect-ratio: 16 / 9;
		height: 92vh;
		width: 100%;
	}
}